server:
  port: 8080

spring:
  application:
    name: game
  datasource:
    url: 'jdbc:h2:mem:gamedb'
    driver-class-name: org.h2.Driver
    username: sa
    password: ''
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.H2Dialect
  cloud:
    openfeign:
      circuitbreaker:
        enabled: true
    config:
      enabled: false
    discovery:
      enabled: false
    gateway:
      discovery:
        locator:
          enabled: false
  eureka:
    client:
      enabled: false
      service-url:
        defaultZone: 'http://localhost:8761/eureka/'
    instance:
      prefer-ip-address: true
      hostname: localhost

management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      show-details: always

resilience4j:
  circuitbreaker:
    configs:
      default:
        slidingWindowSize: 10
        permittedNumberOfCallsInHalfOpenState: 2
        failureRateThreshold: 50
        waitDurationInOpenState: 10s

build:
  version: 1.0

author:
  name: "Firas Zayani [GAME]"
  email: "zayanii.firass@gmail.com [GAME]"